@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-btn-background: var(--btn-background);
  --color-btn-hover: var(--btn-hover);
}

:root {
  /* header and form section */
  --foreground: #171717;
  --background: #f1f5f9;

  /* button section */
  --btn-background: #6366f1;
  --btn-hover: #4f46e5;
}
.dark {
  /* header section */
  --foreground: #ffffff;
  --background: #1e293b;

  /* button section */
  --btn-background: #818cf8;
  --btn-hover: #4f46e5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
