@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;

  /* Main brand colors */
  --color-primary: #6366f1;
  --color-secondary: #E2E8F0;
  --color-muted: #64748b;

  /* Shades */
  --color-icon-background:#E0E7FF;
    --color-btn-hover:#4F46E5;
    --color-black: #000000;
  --color-white: #ffffff;

  /* Brand-specific */
  --color-google:#3B82F6;
    --color-google-hover:#2563EB;

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
